body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sub-heading {
    font-family: Ubuntu Mono;
    margin: 0px 0px 0px 10px;
}
#pageTitle {
    font-family: 'Montez', cursive; 
    color: blue;
    margin: 10px 10px 0px 10px; 
}
input.topButtons {
    color: white;
    background-color: blue;
    width: 90px;
    float: right;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    padding: 10px;
}
.form-group > input {
    background-color: rgb(241, 241, 241);
    border-radius: 0px;
}
.form-group > textarea {
    background-color: rgb(241, 241, 241);
    border-radius: 0px;
}
.form-group > p {
    text-align: center;
}
.form-group > p > a {
    text-decoration: none;
    color: blue;
    margin-left: 5px;
}
.form-group > button {
    border-radius: 0px;
    margin-top: 10px;
}
.middleButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middleButtons > button {
    padding: 5px;
    text-align: center;
    width: 100px;
    margin: 5px;
    background-color: orange;
}
#signin-modal > div > div.modal-content {
    border-radius: 0px;
}
#signup-modal > div > div.modal-content {
    border-radius: 0px;
}
#createPost-modal > div > div.modal-content {
    border-radius: 0px;
}